*{
    padding: 0;
    margin: 0;
    font-family:"Microsoft JhengHei";
}
header{
    height: 80px;
    background-color: #2B8282;
    position: fixed;
}

body{
    background-color:antiquewhite;
}

.header{
    padding: 0 30px;
    width:100%;
    background-color: #2B8282;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#FFF;
    font-weight: bold;
    font-size: 16px;
}

.flex{
    display: flex;
}
.flex-justify-center{
    justify-content: center;
}
.flex-align-center{
    align-items: center;
}
.align-center


.header-left{
    justify-content: center;
    align-items: center;
    background-color: #2B8282;
}
.header-right{
    align-items: flex-end;
    background-color: #2B8282;
    padding-right: 60px;
}
.header-left ul{
    justify-content: center;
    align-items: center;

}

.nav-a{
    margin: 0 8px;

    background-color: #61AFB3;
    border-radius: 5px 5px 0 0 ;

    text-align: center;
    line-height: 50px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow:2px 3px 5px #4d4d4d;
    
    width: 110px;
    height: 50px;
}
.logo{
    border-radius: 50px;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 50px;
    margin-top:15px;
    height: 50px;
    width: 140px;
}

.nav-a :hover{
    background-color:  #75E9BF;
    border-radius: 5px 5px 0 0 ;
    
}

.nav-a :visited{
    background-color:  #fff;
    border-radius: 5px 5px 0 0 ;
    
}

.nav-a-current{     /* 目前頁面樣式 */
    margin: 0 8px;

    background-color:#69E3E3;
    border-radius: 5px 5px 0 0 ;

    text-align: center;
    line-height: 50px;

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow:2px 3px 5px #4d4d4d;
    
    width: 110px;
    height: 55px;
}
/* body-1 */

.left-content{
    
    width:20%;
    height:auto;
    margin:250px 0px 50px 20px;
    justify-content: center;
    

    /* width: 300px;
    height: 1200px; */
    /* background-color: #75E9BF; */

    /* align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 250px 0px 50px 20px;

    padding-top: 200px; */

}
.a-win
{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.li-win
{
    background-color: #13678A;
    padding: 20px;
    /*white-space:nowrap; 強制不換行*/
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:1px;
}
.li-win:hover
{
    background-color: #fb8947;
    color:#fff;
}

.sidebar{
    
    /* width: 200px;
    height: 55px; */
    padding: 20px;
    
    background-color: aliceblue;
    border: 1px solid;

    font-size: 20px;
    color: black;

    text-align: center;
    line-height: 55px;
}
.sidebar-current{
    /* width: 200px;
    height: 55px; */
    padding: 20px;
    
    background-color: #FEDECB;
    border: 1px solid;

    font-size: 20px;
    color: black;

    text-align: center;
    line-height: 55px;
}
.content{
    width:100%;
    
    justify-content: space-between;
    

}

.right-content{
    /* width: calc(100% - 300px);
    height: 1200px; */
    width:80%;
    height:auto;
    margin:180px 80px 100px 30px;
}
.year-nav{
    width:100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-color:  #FFF;
    border-top: 1px;
    border-bottom:1px;
}
.year-li{
    line-height: 55px;
    background-color: #ae2323;
    border:1px solid #FFF;
}

.title{
    font-size: 36px;
    

    font-weight: bold;
}
.title-win
{
    font-size:36px;
    justify-content: left;
    font-weight: bold;
}
.topic{
    background-color:#D9D9D9;   
    width: 100%;

    padding-bottom: 20px;

}

.ul-year-win
{
    width:100%;
    text-align: center;
    align-items: center;
    border-color:  #FFF;
    border-top: 1px;
    border-bottom:1px;
    overflow: scroll;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.li-year-win
{
    width:200px;
    line-height: 55px;
    background-color: #ae2323;
    border:1px solid #FFF;
    justify-content: center;
}

.ul-win
{
    width:80%;
    text-align: center;
    align-items: center;
}

/* .right-content li{
    width: 158.5px;
    height: 100%;
    background-color:blueviolet;
    border: 1px solid #fff;

    color: #fff;
} */
/* .right-content a{
    text-align: center;
    line-height: 60px;
} */

.topic-photo{
    width: 40%;
    
    justify-content: center;
    align-items: center;

    padding: 30px 30px;
}
.photo{
    width: 250px;
    background-color: #B3B0B0;

    justify-content: center;
    align-items: center;
}

.topic-content{
    width: 100%;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
.topic-name{
    padding-top: 70px;
    font-size: 24px;
    font-weight: bold;
    /* color: #fff; */
}
.member{
    padding-top: 20px;
    /* color: #fff; */

}
.article{
    padding-top: 50px;
    font-size: 18px;
    margin-right:30px;
    
    /* color: #fff; */

}

/* create */
.select-photo{
    background-color:#fff;
    color:#000;
    
    width: 70%;
    font-size: 16px;
    
}
.select-year{
    background-color:#000;
    color:#FFF;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.topic-1{
    /* background-color: #D9D9D9;   
    width: 800px;
    height: 400px; */

    background-color: #D9D9D9;   
    width: 100%;
    height: auto;

}

.topic-text{
    width: 70%;
    height: 25px;
    
}
.year-select{
    width: 70%;
    height: 29px;
}
.member-select{
    width: 70%;
    height: 100px;
}

.select-member{
    background-color:#000;
    color:#fff;
    height:25px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;

    

    border-radius: 30px;
}
.topic-content-text{
    width: 70%;
    height: 150px;
    margin-left: 4px;
}
.button-div{


    justify-content: right;

    
    padding: 10px 30px;

    /* float: right;
    margin-top: 30px;
    padding-top: 8px;

    padding-left: 30px;
    padding-right: 25px; */
}
.button{
    cursor: pointer;

    background-color:#fff;
    color:#000;
    height:30px;
    width: 100px;
    font-size: 16px;
    border-radius: 30px;
    border-width: thin ;

    
}
.button-padding{
    padding: 0 2px;
}
/* edit */
.button-div-edit{
    

    
    margin-top: 30px;
    padding-top: 8px;

    padding-left: 30px;
    padding-right: 25px;

    justify-content: space-between;

}
.button-delete{
    background-color:red;
    color:#fff;
    height:30px;
    width: 100px;
    font-size: 16px;
    border-radius: 30px;
    border-width: thin ;
}

/* super */
.create{
    
    margin-left: 30px;

    align-items: center;
}
.create-icon{
    font-size: 30px;
    color: #000;
    
}
.edit-icon{
    font-size: 22px;
    color: #000;
}
.edit{
    
    justify-content: right;
    padding: 10px;
    margin-right:30px;
    padding-bottom: 0px;
    text-align:right;
}



.edit-row-button {
    cursor: pointer;
    height: 35px;
    width: 50px;
    background-color: #2B8282;
    color: #fff;
    border-width: thin;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;

    text-align: center;
    line-height:35px;
}

.delete-row-button {
    cursor: pointer;
    height: 35px;
    width: 50px;
    background-color: crimson;
    color: #fff;
    border-width: thin;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}

.create-button{
    cursor: pointer;
    width: 80px;
    height: 35px;
    margin: 0 5px;
    background-color: #61AFB3;
    border-radius: 5px;
    border-width: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.create-button:hover
{
    background-color: #2B8282;
    font-weight: bold;
}

/* .relative
{
    position: relative;
}
.absolute
{
    position: absolute;
} */

.nav-bar{
    display: none;
    position: fixed;


    flex-direction: column;

    background-color: #f9d853;
    border: 1px #000;
}

.nav-a-t{
    margin: 0 8px;

    background-color: #61AFB3;
    border-radius: 5px 5px 0 0 ;

    text-align: center;
    line-height: 50px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow:2px 3px 5px #4d4d4d;
    
    width: 110px;
    height: 50px;

    cursor: pointer;
    
}

.down-bar{
    display: none;
    min-width: 180px;
    background-color: #13678A;
    border: 0;
    border-radius: 5px;
    margin-top:-1px;
    
    position: relative;
    right: 70px;
    /* position: relative;
    z-index: 5; */
    white-space:nowrap;
}
.down-bar :hover{
    background-color: #75E9BF;
    border-radius: 5px;
}
.down-bar-title{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.down-bar-text{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}






/* =======phone-header======= */


.header-right-small{
    display: none;
    /* align-items: center;
    justify-content: flex-end; */

    
    /* padding-right: 60px; */
    width: 75%;


}
.nav-box{
    background-color: #61AFB3;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    

}
/* .ull{
    display: none;
} */

.header-p{
    /* padding: 0 30px; */
    width:100%;
    height: 80px;
    background-color: #2B8282;
    /* justify-content: space-between; */
    
    position: fixed;
    z-index:9999;

    flex-wrap: wrap;

}

.phoneheader{
    display: none;
    /* flex-direction: column;
    height: 80px;
    align-items: center; */
}


.header-right-phone{
    justify-content: flex-end;
    background-color: #2B8282;
     /* padding-right: 30px; */
    width: calc(100% - 140px);
    align-items: center;


}




.nav-list{
    height: 250px;
    width: 100%;
    overflow:auto;
    overflow-x: hidden;
    border-top: #61AFB3 1.5px solid;

    display: none;

}
.phone-ul{
    background-color: #61AFB3;
    
    padding-left: 20px;

}
.phone-ul-1{
    background-color:  #1f5d98;
    
    padding-left: 30px;


}
.phone-ul-2{
    background-color: #52d0dc;
    
    padding-left: 40px;


}
.phone-list-style{
    width: 100%;
    height: 50px;
    text-shadow:2px 3px 5px #4d4d4d;
    /* text-align: center; */
    line-height: 50px;
    color: #fff;
}


.achievement-list{
    display: none;
    width: 100%;

}




.plus{
    padding-top:5px;
    width: 45px;
    height:40px;
}



/* ================rwd================ */



@media screen and (min-width: 1400px) {

}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1007.5px) {
    
    .phoneheader{
        display: flex;
    }
    .pcheader{
        display: none;
    }
    

    .row-button{
        font-size: 13px;
        height: 30px;
        width: 70px;
    }

    .d-4-row-button{
        font-size: 13px;
        height: 30px;
        width: 70px;

    }
    .reserve-botton{
        font-size: 13px;
        height: 30px;
        width: 70px;

    }

}


@media screen and (max-width: 992px) {
    .left-content{
        display: none;

    }
    .right-content{

    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 100px 80px 0 80px;
    text-align: center;
    align-items: center;




    }





}

@media screen and (max-width: 768.5px) {
    .right-content{

        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 100px 30px 0 30px;
        text-align: center;
        align-items: center;
    
    
    
    
    }
    .title-win{
        font-size: 22px;
    }
    .table-title{
        font-size: 14px;
    }
    .row{
        font-size: 13px;
    }

    .add-icon{
        margin-right: 25px;
        margin-top: 0px;
    }

    .plus{
        width: 24px;
        height:22px;

    }



    .a{
        flex-direction: column;
    }
    .topic-photo{
        padding: 30px 0;
        width: 100%;
    }
    .article{
        margin-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .topic-content{
        padding: 0;
    }
    .edit{
        text-align: center;
        margin-right: 0;
    }
    .topic-name{
        padding-top: 0;
    }
    

}

@media screen and (max-width: 426px) {

    .right-content{

        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 100px 10px 0 10px;
        text-align: center;
        align-items: center;
    
    
    
    
    }
    .title{
        font-size: 22px;
    }
    .table-title{
        font-size: 14px;
    }
    .row{
        font-size: 13px;
    }

    .add-icon{
        margin-right: 5px;
        margin-top: 0px;
    }



}
