*{
    padding: 0;
    margin: 0;
    font-family:"Microsoft JhengHei";
}
html{
    height: 100%;
}
header{
    height: 80px;
    background-color: #2B8282;
    position: fixed;
}

body{
    background-color:#FFF8F2;
    height: 100%;
}

.header{
    padding: 0 30px;
    width:100%;
    background-color: #2B8282;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#FFF;
    font-weight: bold;
    font-size: 16px;
}

.flex{
    display: flex;
}
.flex-justify-center{
    justify-content: center;
}
.flex-align-center{
    align-items: center;
}

.header-left{
    justify-content: center;
    align-items: center;
    background-color: #2B8282;
}
.header-right{
    align-items: flex-end;
    background-color: #2B8282;
    padding-right: 60px;
}
.header-left ul{
    justify-content: center;
    align-items: center;

}

.nav-a{
    margin: 0 8px;

    background-color: #61AFB3;
    border-radius: 5px 5px 0 0 ;

    text-align: center;
    line-height: 50px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow:2px 3px 5px #4d4d4d;
    
    width: 110px;
    height: 50px;
}
.logo{
    border-radius: 50px;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 140px;
}

.nav-a :hover{
    background-color:  #75E9BF;
    border-radius: 5px 5px 0 0 ;
    
}

.nav-a :visited{
    background-color:  #fff;
    border-radius: 5px 5px 0 0 ;
    
}

.nav-a-current{     /* 目前頁面樣式 */
    margin: 0 8px;

    background-color:#69E3E3;
    border-radius: 5px 5px 0 0 ;

    text-align: center;
    line-height: 55px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow:2px 3px 5px #4d4d4d;
    
    width: 110px;
    height: 55px;
}

.content
{
    background-color: antiquewhite;
    width:100%;
    justify-content: center;
    height: 100%;
}
.content-a
{
    background-color: antiquewhite;
    width:100%;
    justify-content: center;
    height: auto;
}
.left-content
{
    width:20%;
    height:auto;
    margin:250px 0px 50px 20px;
    justify-content: center;
}
.right-content
{
    width:80%;
    height:auto;
    margin:180px 80px 100px 30px;
}
.ul-win
{
    width:70%;
    text-align: center;
    align-items: center;
    
}
.li-win
{
    background-color: #13678A;
    padding: 20px;
    /*white-space:nowrap; 強制不換行*/
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:1px;
}
.a-win
{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.li-win:hover
{
    background-color: #fb8947;
    color:#fff;
}


/* login */
.login-div{
    margin: 180px 0 180px 0;
    height: auto;

    
    align-items: center;
    flex-direction: column;

    

}

.login-word{
    font-size: 36px;

    font-weight: bold;

    
}
.normal-word{
    font-size: 20px;

    
}
.margin-top-login-content{
    margin-top: 40px;
}
.login-button{
    height:40px;
    width: 150px;

    cursor: pointer;
    
    margin: 0 5px;
    background-color: #61AFB3;
    border-radius: 5px;
    border-width: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.text{
    width: 300px;
    height: 30px;
    background-color: #D9D9D9;

    border-width: 0;
}
.forget-password{
    font-weight:    normal;
    text-decoration: underline;

    color: #000;
}



.nav-bar{
    display: none;
    position: fixed;


    flex-direction: column;

    background-color: #f9d853;
    border: 1px #000;
}

.nav-a-t{
    margin: 0 8px;

    background-color: #61AFB3;
    border-radius: 5px 5px 0 0 ;

    text-align: center;
    line-height: 50px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow:2px 3px 5px #4d4d4d;
    
    width: 110px;
    height: 50px;

    cursor: pointer;
    
}

.down-bar{
    display: none;
    min-width: 180px;
    background-color: #13678A;
    border: 0;
    border-radius: 5px;
    margin-top:-1px;
    
    white-space:nowrap;

    position: relative;
    right: 70px;


}
.down-bar :hover{
    background-color: #75E9BF;
    border-radius: 5px;
}
.down-bar-title{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.down-bar-text{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}




.pw-icon{
    width: 30px;
    height: 20px;
    position: absolute;
    
    top: 6px;
    right: 5px; 
    
}


/* =======phone-header======= */


.header-right-small{
    display: none;
    /* align-items: center;
    justify-content: flex-end; */

    
    /* padding-right: 60px; */
    width: 75%;


}
.nav-box{
    background-color: #61AFB3;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    

}
/* .ull{
    display: none;
} */

.header-p{
    /* padding: 0 30px; */
    width:100%;
    height: 80px;
    background-color: #2B8282;
    /* justify-content: space-between; */
    
    position: fixed;
    z-index:9999;

    flex-wrap: wrap;

}

.phoneheader{
    display: none;
    /* flex-direction: column;
    height: 80px;
    align-items: center; */
}


.header-right-phone{
    justify-content: flex-end;
    background-color: #2B8282;
     /* padding-right: 30px; */
    width: calc(100% - 140px);
    align-items: center;


}




.nav-list{
    height: 250px;
    width: 100%;
    overflow:auto;
    overflow-x: hidden;
    border-top: #61AFB3 1.5px solid;

    display: none;

}
.phone-ul{
    background-color: #61AFB3;
    
    padding-left: 20px;

}
.phone-ul-1{
    background-color:  #1f5d98;
    
    padding-left: 30px;


}
.phone-ul-2{
    background-color: #52d0dc;
    
    padding-left: 40px;


}
.phone-list-style{
    width: 100%;
    height: 50px;
    text-shadow:2px 3px 5px #4d4d4d;
    /* text-align: center; */
    line-height: 50px;
    color: #fff;
}


.achievement-list{
    display: none;
    width: 100%;

}


/* ================rwd================ */



@media screen and (min-width: 1400px) {

}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1007.5px) {
    
    .phoneheader{
        display: flex;
    }
    .pcheader{
        display: none;
    }
    

    .row-button{
        font-size: 13px;
        height: 30px;
        width: 70px;
    }

    .d-4-row-button{
        font-size: 13px;
        height: 30px;
        width: 70px;

    }
    .reserve-botton{
        font-size: 13px;
        height: 30px;
        width: 70px;

    }

}


@media screen and (max-width: 992px) {
    .left-content{
        display: none;

    }
    .right-content{

    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 100px 80px 0 80px;
    text-align: center;
    align-items: center;




    }





}

@media screen and (max-width: 768.5px) {
    .right-content{

        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 100px 30px 0 30px;
        text-align: center;
        align-items: center;
    
    
    
    
    }
    .login-word{
        font-size: 22px;
    }
    .normal-word{
        font-size: 14px;
    }
    .forget-password{
        font-size: 13px;
    }

    .add-icon{
        margin-right: 25px;
        margin-top: 0px;
    }

    .text{
        width: 200px;
        height: 28px;
    }
    .login-button{
        font-size: 13px;
        height: 30px;
        width: 100px;
    }
}

@media screen and (max-width: 426px) {

    .right-content{

        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 100px 10px 0 10px;
        text-align: center;
        align-items: center;
    
    
    
    
    }
    .title{
        font-size: 22px;
    }
    .table-title{
        font-size: 14px;
    }
    .row{
        font-size: 13px;
    }

    .add-icon{
        margin-right: 5px;
        margin-top: 0px;
    }



}
